<h4>Adiciona Registros</h4>
<hr />
@{
    int.TryParse(ViewBag.Qtd.ToString(), out int qtd);
    var podeTreinar = true;
    if (qtd == 0)
    {
        podeTreinar = false;
    }
    bool.TryParse(ViewBag.ModelExists.ToString(), out bool ModelExists);
}
<div class="row">
    <div class="col-md-6" style="border-right:1px solid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Treinar Modelo</h5>
                <p class="card-text" id="msgQtd"></p>
                <p id="infoModelTreinado" hidden> Clique <button type="button" id="abreModal" class="btn btn-sm btn-primary">aqui</button> para veficar as informações do modelo.</p>
                <hr />
                @if (podeTreinar)
                {
                    <button id="TreinarModel" class="btn btn-primary">Treinar Modelos</button> <img src="~/ajax-loader.gif" hidden id="CarregaLoaderTreina" />
                    <div class="mt-4">
                        <button id="ApagarModel" class="btn btn-danger">Apagar Modelo Existente</button> <img src="~/ajax-loader.gif" hidden id="CarregaLoaderApagarModel" />
                    </div>
                }
                else
                {
                    <p>Não é possivel treinar modelos, é necessario ao menos @ViewBag.LimiteMinimoTreino registros.</p>
                }

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consumir Model</h5>
                <div id="divFrmConsumirModel" @(ModelExists ? null : "hidden")>
                    <form id="frmConsumirModel">
                        <div class="form-group row">
                            <div class="form-group col-6">
                                <label for="HoraDoDia" class="control-label">Hora do dia</label>
                                <input type="datetime-local" name="HoraDoDia" id="HoraDoDia" class="form-control" required />
                                <input type="text" name="id" id="id" hidden />
                            </div>
                            <div class="form-group col-6">
                                <label for="DiaDaSemana" class="control-label">Dia da Semana</label>
                                <input name="DiaDaSemana" id="DiaDaSemana" type="text" disabled class="form-control btn-normal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Tempo" class="control-label mt-2 label-result">Tempo Previsto</label>
                            <input name="Tempo" id="Tempo" type="number" min="0" disabled class="form-control text-result" />
                        </div>
                        <div class="row pt-3">
                            <div class="form-group mr-2">
                                <button type="button" style="float: left;" name="ConsumirModel" id="ConsumirModel" class="btn btn-primary"><i class="fas fa-rocket"></i> Consumir</button> <img src="~/ajax-loader.gif" hidden id="CarregaLoaderConsumir" />
                                <button type="reset" style="float: right;" value="Limpar" class="btn btn-warning"><i class="fas fa-undo"></i> Limpar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <p id="infoNaoTreina" @(!ModelExists ? null : "hidden" )>Não foram encontrados modelos treinados para consumir.</p>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalInfoTreinamento" aria-labelledby="ModalInfoTreinamento" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Informações do Treinamento</h5>
                </div>
                <div class="modal-body">
                    <div id="Aplicatexto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var naoTemModelo = 'Não tem modelos treinados atualmente';
        let existeModelo = (qtd) => {
            return 'Existe um modelo treinado com ' + qtd + ' registros.';
        };
        let setTextoQtd = (texto = '') => {
            if (texto == '') {
                $('#msgQtd').text(naoTemModelo);
            }
            else {
                $('#msgQtd').text(texto);
            }
        };
        function populaQtd() {
            var DataSetQtd = @ViewBag.DataSet;
            if (DataSetQtd == 0) {
                setTextoQtd(naoTemModelo);
            }
            else {
                setTextoQtd(existeModelo(DataSetQtd));
                $('#infoModelTreinado').prop('hidden', false);
            }
        }
        function preencheModal() {
            var texto = '@(ViewBag.TreinarModel)';
            if (texto != '')
                $("#Aplicatexto").html(convertText(texto));
        }
        preencheModal();
        populaQtd();
        function convertText(texto) {
            var resultado = texto.split('#');
            var final = "";
            for (let index = 0; index < resultado.length; index++) {
                final += '<p>' + resultado[index] + "</p>";
            }
            return final;
        }
        $("#TreinarModel").on("click", function () {
            $("#CarregaLoaderTreina").prop("hidden", false);
            $.ajax({
                type: "POST",
                url: "/Home/TreinarModel",
                dataType: 'json',
                success: (data) => {
                    if (data.success) {
                        $("#Aplicatexto").html(convertText(data.message));
                        $("#modalInfoTreinamento").modal("show");
                        $("#CarregaLoaderTreina").prop("hidden", true);
                        setTextoQtd(existeModelo(data.qtd));
                        $("#divFrmConsumirModel").prop("hidden", false);
                        $("#infoNaoTreina").prop("hidden", true);
                        $('#infoModelTreinado').prop('hidden', false);
                    }
                },
                error: () => {
                    $("#CarregaLoaderTreina").prop("hidden", true);
                }
            });
        });
        $("#ApagarModel").on("click", function () {
            $("#CarregaLoaderApagarModel").prop("hidden", false);
            $.ajax({
                type: "POST",
                url: "/Home/ApagarModel",
                dataType: 'json',
                success: (data) => {
                    if (data.success) {
                        $("#CarregaLoaderApagarModel").prop("hidden", true);
                        $("#divFrmConsumirModel").prop("hidden", true);
                        $("#infoNaoTreina").prop("hidden", false);
                        $("#infoModelTreinado").prop("hidden", true);
                        setTextoQtd();
                    }
                },
                error: () => {
                    $("#CarregaLoaderApagarModel").prop("hidden", true);
                }
            });
        });

        $("#ConsumirModel").on("click", function () {
            if (validar("#frmConsumirModel")) {
                var disabled = $("#frmConsumirModel").find(':input:disabled').removeAttr('disabled');
                $("#CarregaLoaderConsumir").prop("hidden", false);
                $.ajax({
                    type: "POST",
                    url: "/Home/ConsumirModel",
                    dataType: 'json',
                    data: $("#frmConsumirModel").serialize(),
                    success: (data) => {
                        if (data.success) {
                            $("#Tempo").val(data.message);
                            $("#CarregaLoaderConsumir").prop("hidden", true);
                        }
                    },
                    error: () => {
                        $("#CarregaLoaderConsumir").prop("hidden", true);
                    }
                });
                disabled.attr('disabled', 'disabled');
            }
        });

        $("#abreModal").on("click", () => {
            $("#modalInfoTreinamento").modal("show");
        });
    </script>
}